header {
    color:white;
    background: rgb(110, 109, 109);
    font-family: 'montseratt', sans-serif;
    font-size: 3rem;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}